.bg-box{
    outline: 5px red solid;
    width: 1250px ;
    height: 550px;
    background-color: green;
    background-image: url(../img/donut.png), url(../img/grass.png), url(../img/hedgehog.png), url(../img/home.jpg), url(../img/lamp.png);
    background-repeat: repeat-y, repeat-x, repeat-y, no-repeat, repeat-x;
    background-size: 100px 100px, 100px 100px, 100px 100px, 250px 250px, 100px 100px;
    background-position: right, bottom, left, center, top;
}